

#bodyContent{
	width: 300px;
	height: 300px;
}
#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 1.5%;
        }
.required {
    font-weight:bolder;
    font-style:italic;
}
.hasTimepicker{
	position:relative;
	z-index: 999;
}
.hasDatepicker { 
	position: relative;
    z-index: 999;
}
#register{
	float:right;
	width:200px;
	height:300px;
	padding-top: 50px;
}

html {
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0px;
	padding: 0px;
	height:100%;
	}
body { 
	font: 100%
	line-height: 1.88889;
	background: #fff; 
	margin: 0px ;
	padding: 0px; 
	height: 100%;
	
	}
h1 { 
	font: normal 1.4em;
	letter-spacing: 1px; 
	padding-left: 5.33333333%;
	margin-bottom: 0;
	margin-top: 0; 
	color: #00688B;
    } 
footer { 
	clear: both;
	font: normal 1.0em;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: black;
	border-top-right-radius:015px;
    border-bottom-left-radius:015px;
	padding-left: 5.33333333%;
	padding-right: 5.33333333%;
	padding-top: 5.33333333%;
    } 
ol {
	padding-left: 7.6%;
	color: red;
} 
p{
	padding-left: 5.33333333%;
	padding-right: 5.33333333%;
	}

td {
	padding-left: 5.33333333%;
	padding-right: 5.33333333%;
	}
form {
	padding-left: 5.33333333%;
	padding-right: 5.33333333%;
	}
label {
    color: #555753;
    font-weight: bold;
    font-size: .9em; 
    display: block;
	}	
label.list{
	display: inline;
	color: #555753;
    font-weight: bold;
    font-size: 18px; 
    }
nav {
    list-style: none;
    font-weight: bold;
    float-top;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #00688B;
    height:42px;
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 100%;
}

nav li {
	padding-left:1.3%;
    margin: auto;
    display:
}
nav ol {
	list-style: none;
	margin : auto;
	padding: 0;
}
nav li a {
	height: 20px;
    padding: 11px;
    text-decoration: none;
    font-weight: bold;
    font size: 18px;
    text-transform:uppercase;
    color: #FFFFFF;
    background-color: #00688B;
    float: left
}
#settings {
	float:right;
}

nav li a:hover {
    color: #FFFFFF;
    background-color: #5F9EA0 ;
}
